@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgba(204, 167, 0, 0.561);
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px bold;
    color:rgb(59, 0, 33);
    padding: 15px;
}

.grid .row__animals {
    display: flexbox;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
    margin: 10px;
}

.grid .row__animals img {
    max-width: 100%;
    max-height: 100%;
    width: 300px;
    height: 200px;
    border-radius: 10px;
}

.footer {
    color: black;
}