@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: aquamarine;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color:rgb(255, 0, 140);
    padding: 15px;
}

.grid .row__animals {
    display: flexbox;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
    margin: 10px;
}